= simple_form_for([:backend, @resource_instance]) do |f|
  = f.input :file
  - if f.object.file.present?
    = f.input :remove_file, as: :boolean, hint: "Zur Zeit: #{f.object.file.file.filename}"
  = f.input :url
  = f.input :date
  = f.association :place
  = f.association :event
  = f.input :description

  %hr
  - if can?(:update, @resource_instance)
    = f.association :edit_user
    = f.input :finished, as: :boolean

  = f.button :submit