.section
  .container.page-header
    %h1= page_title
  .container
    = datatable(:teams)

  .container
    .col-md-6
      %h4 Verteilung der Bundesländer
      = @charts.federal_states_pie
    .col-md-6
      %h4 Verteilung der Staaten
      = @charts.international_states_pie
    .col-md-6
      %h4 Aktive Mannschaften pro Jahr
      = @charts.activities_for_years

  .container
    %h2 Karte der Mannschaften
    = map(id: 'teams-map', markers: Team.positioned.decorate, class: 'big-map') { |m| { count: m.competitions_count } }
  .container
    %h2 Neue Mannschaft anlegen
  .container
    .col-md-4
      %p Ist deine Mannschaft oder Feuerwehr noch nicht eingetragen? Dann lege sie doch einfach schnell an. Mit nur ein paar Klicks und ohne Anmeldung ist es in einer Minute geschafft.
      .btn.btn-default#add-team Anlegen

    .col-md-4
      = image_tag 'actions/user-group-new.png'
    .col-md-4
      %h4 Konventionen - Freiwillige Feuerwehren
      %p Bei der Eingabe einer Feuerwehr einigen wir uns der Übersichts geschuldet auf folgende Abkürzung:
      %table
        %tr
          %th Name: 
          %td FF XXX
        %tr
          %th Abk.: 
          %td XXX