= toc.anker 'Auswertung', :h2
- chart = Chart::CompetitionsScoreOverview.new(competitions:, request:)
.calculation-area
  .row
    .col-md-4
      %h4 Verteilung der Wettk채mpfe 체ber das Jahr
      = chart.year_overview
    .col-md-4
      %h4 Verteilung der Wettk채mpfe 체ber die Woche
      = chart.week_overview
    .col-md-4
      %h4 Angebotene Disziplinen pro Wettkampf
      = chart.disciplines_overview
    .col-md-4
      %h4 Mannschaftswertungen der Einzeldisziplinen
      = chart.team_scores_overview
    .col-md-4
      %h4 Anzahl der Mannschaften pro Wettkampf
      = chart.teams_count_overview
    .col-md-4
      %h4 Anzahl der Einzelstarter pro Wettkampf
      = chart.people_count_overview

= toc.anker 'Bestenliste', :h2
.calculation-area
  = nav_tab do |t|
    - Calc::CompetitionsScoreOverview.new(competitions:).disciplines.each do |key, genders|
      - genders.each do |gender, overview|
        - t.tab(discipline_image_name_short(key, gender)) do
          - overview.types.each do |key, type|
            .row
              .col-md-6
                - if type.type.present?
                  %h4= type.type
                %table.table
                  %tr
                    %th.col-md-1 Durchschnitt
                    %td.col-md-1= "#{Firesport::Time.second_time(type.average)} s"
                  %tr
                    %th.col-md-1 Anzahl
                    %td.col-md-1= type.count
                  - if type.best.present?
                    %tr
                      %th.col-md-1 Bestzeit
                      %td.col-md-1
                        = "#{type.best.second_time} s"
                        %br
                        = link_to(type.best.competition, type.best.competition)
              .col-md-6
                %table.table
                  - type.years.each do |year, bests|
                    - bests.each do |best|
                      %tr
                        %th.col-md-1= year
                        %td.col-md-1= "#{best.second_time} s"
                        %td.col-md-4
                          = link_to(best.entity.full_name, best.entity)
                          %br
                          = link_to(best.competition, best.competition)
