%h2 Benutzer bearbeiten
.row
  .col-md-6
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification

      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :name

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Folgende E-Mail-Adresse wurde noch nicht bestätigt:
            = resource.unconfirmed_email

        = f.input :password, autocomplete: :off, hint: "Freilassen, um es nicht zu ändern", required: false
        = f.input :password_confirmation, autocomplete: :off, required: false
        = f.input :current_password, hint: "bitte geben Sie ihr aktuelles Passwort an, um die Angaben zu bestätigen", required: true
      .form-actions
        = f.button :submit, "Aktualisieren"

