%h2 Registrieren

.row
  .col-md-6
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification

      = f.input :email, required: true, autofocus: true
      = f.input :name
      = f.input :password, required: true, hint: ("minimum #{@minimum_password_length} Zeichen" if @minimum_password_length)
      = f.input :password_confirmation, required: true
      = f.button :submit, "Registrieren"
  = render "devise/shared/links"
