= table_of_contents do |toc|
  .row
    .col-md-9
      %h1 Wettk채mpfer
    .col-md-3= toc.index

  - [:female, :male].each do |gender|
    = toc.anker(g(gender), :h2)

    = count_table(@people[gender], class: "datatable-people") do |t|
      - t.col("Name", class: "col-20") { |row| link_to(row.last_name, row) }
      - t.col("Vorname", class: "col-20") { |row| link_to(row.first_name, row) }
      - t.col("Nation", class: "col-10") { |row| nation_flag_with_iso(row.nation) }
      - t.col "HB", :hb_count, class: "col-10"
      - t.col "HL", :hl_count, class: "col-10"
      - t.col "LA", :la_count, class: "col-10"
      - t.col "FS", :fs_count, class: "col-10"
      - if gender == :female
        - t.col "GS", :gs_count, class: "col-10"

  = toc.anker("Auswertung")
  .row
    .col-md-4
      %h4 Geschlechter
      = @chart.gender_pie

    .col-md-4
      %h4 Disziplinen bei Frauen
      = @chart.disciplines_pie(:female)

    .col-md-4
      %h4 Disziplinen bei M채nnern
      = @chart.disciplines_pie(:male)


  = toc.anker("Neue Person hinzuf체gen", :h2)
  .row
    .col-md-5
      %p Ist eine Person die du kennst noch nicht eingetragen? Dann trage sie doch schnell ins System ein!
    .col-md-4
      #add-person.btn.btn-default Person hinzuf체gen
    .col-md-3= design_image("system-users")