= table_of_contents do |toc|
  .section
    .container
      .col-md-9
        %h1 Wettk채mpfer
      .col-md-3= toc.index

    - [:female, :male].each do |gender|
      .container
        = toc.anker(g(gender), :h2)
        = datatable(:"people_#{gender}")

    .container
      = toc.anker('Auswertung')
    .container
      .col-md-4
        %h4 Geschlechter
        = @chart.gender_pie

      .col-md-4
        %h4 Disziplinen bei Frauen
        = @chart.disciplines_pie(:female)

      .col-md-4
        %h4 Disziplinen bei M채nnern
        = @chart.disciplines_pie(:male)


    .container
      = toc.anker('Neue Person hinzuf체gen', :h2)
    .container
      .col-md-5
        %p Ist eine Person die du kennst noch nicht eingetragen? Dann trage sie doch schnell ins System ein!
      .col-md-4
        #add-person.btn.btn-default Person hinzuf체gen
      .col-md-3= design_image('system-users')