.section
  .container
    %h1
      = resource.title
      %small
        Neuigkeiten vom
        = resource.published_at
  .container
    .col-md-2
      = design_image("applications-office")
    .col-md-8
      = resource.content.html_safe
    .col-md-1

  .container
    %nav
      %ul.pager
        - if resource.previous.present?
          %li.previous
            %a{ href: url_for(resource.previous), title: resource.previous.published_at }
              %i.glyphicon.glyphicon-step-backward
              = resource.previous
        %li
          %a{ href: news_articles_path }
            %i.glyphicon.glyphicon-align-justify
            Übersicht
        - if resource.next.present?
          %li.next
            %a{ href: url_for(resource.next), title: resource.next.published_at }
              = resource.next
              %i.glyphicon.glyphicon-step-forward