.section
  .container
    %h1
      = resource
    = resource.people_without_gold.count
    %table.table.table-condensed.table-hover.table-bordered
      - resource.people_with_badges.each do |person, badges|
        %tr
          %td= person.decorate
          - 3.times do |i|
            - if !badges[i]
              %td.info Vorhanden
            - elsif badges[i].valid?
              %td.success
                OK
                - if badges[i].hl_score
                  %br
                  = link_to(badges[i].hl_score.decorate,badges[i].hl_score.competition)
                - if badges[i].hb_score
                  %br
                  = link_to(badges[i].hb_score.decorate,badges[i].hb_score.competition)
            - else
              %td.warn
                = badges[i].valid?
                - if badges[i].hl_score
                  %br
                  = link_to(badges[i].hl_score.decorate,badges[i].hl_score.competition)
                - if badges[i].hb_score
                  %br
                  = link_to(badges[i].hb_score.decorate,badges[i].hb_score.competition)
        