= toc.anker("#{discipline_name_short(discipline.discipline)} #{g(discipline.gender)} #{final_name(discipline.category)}")
%h2
  = discipline_image(discipline.discipline)
  = discipline_name(discipline.discipline)
  = g(discipline.gender)

.row
  .col-md-3
  .col-md-9= discipline.chart.double_event_scores_overview
= count_table(discipline.scores, class: "datatable scores-zk") do |t|
  - t.col("Nachname", [:person, :last_name], class: "col-20", link_to: :person)
  - t.col("Vorname", [:person, :first_name], class: "col-20", link_to: :person)
  - t.col("HB", :second_hb, class: "col-10")
  - t.col("HL", :second_hl, class: "col-10")
  - t.col("Zeit", :second_time, class: "col-10")