= table_of_contents do |toc|
  .section
    .container.page-header
      .col-md-9
        %h1 Wettkämpfe
      .col-md-3= toc.index

    .container
      = toc.anker('Wettkämpfe')
      = datatable(:competitions)

    .container= render 'calculation/competitions_discipline_overview', toc: toc