.section
  .container.page-header
    .col-md-1.hidden-xs.hidden-sm= discipline_image(resource.discipline, width: "100%")
    .col-md-7
      %h1
        = resource.round
        %br
        %small= resource
      %ul
        %li= link_to("Zurück zur Übersicht", resource.round)
        - @person_assessments.each do |assessment|
          %li= link_to(assessment, assessment)
        %li= link_to('Als PDF', format: :pdf)
    .col-md-4= render("series/cups_overview", cups: resource.cups)
  .container
    = render('show_assessment_table', rows: resource.rows, cups: resource.cups)
  .container
    = render("aggregate_type_#{resource.round.aggregate_type.underscore}") rescue ""
  .container
    = render('series/round_footer', official: resource.round.official?, pdf: true)