%h2 Passwort ändern

.row
  .col-md-6
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification

      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token

      .form-inputs
        = f.input :password, label: "Neues Passwort", required: true, autofocus: true, hint: ("minimum #{@minimum_password_length} Zeichen" if @minimum_password_length)
        = f.input :password_confirmation, required: true

      .form-actions
        = f.button :submit, "Passwort ändern", class: "btn-primary"

  = render "devise/shared/links"
