= render 'hero', actions: collection_actions
.section
  .container
    - collection.each do |assessment|
      .col-md-6
        .panel.panel-default
          .panel-heading
            = discipline_image(assessment.discipline)
            = assessment.with_gender
          .panel-body
            - if assessment.assessment_participations.present?
              %ul
                - assessment.assessment_participations.each do |participation|
                  %li= participation
            - else
              %em Noch keine Anmeldungen für diese Wertung
          .panel-footer
            = link_to 'Bearbeiten', { action: :edit, id: assessment }, class: 'btn btn-default btn-xs'
            = link_to 'Löschen', { action: :destroy, id: assessment }, class: 'btn btn-danger btn-xs',
              method: :delete, data: { confirm: h.t3('actions.confirm_destroy') }

.section
  .container
    = link_to 'Zurück zum Wettkampf', parent_resource, class: 'btn btn-default'
