%h1 
  = @news.title
  %small
    Neuigkeiten vom
    = l(@news.published_at, format: :only_date)
.row
  .col-md-2
    = design_image("applications-office")
  .col-md-8
    = @news.content.html_safe
  .col-md-1

%nav
  %ul.pager
    - if @news.previous.present?
      %li.previous
        %a{ href: url_for(@news.previous), title: l(@news.previous.published_at, format: :only_date) }
          %i.glyphicon.glyphicon-step-backward
          = @news.previous
    %li
      %a{ href: news_index_path }
        %i.glyphicon.glyphicon-align-justify
        Übersicht
    - if @news.next.present?
      %li.next
        %a{ href: url_for(@news.next), title: l(@news.next.published_at, format: :only_date) }
          = @news.next
          %i.glyphicon.glyphicon-step-forward