.section
  .container
    %h1 Interner Bereich
  .container  
    .col-md-4
      %h4 Allgemeine Funktionen
      %ul.nav.nav-pills.nav-stacked.backend-nav
        - if can?(:index, Registrations::Competition)
          %li= link_to 'Wettkampfanmeldungen', registrations_competitions_path

        - if current_admin_user
          %li= link_to 'Mein Profil', edit_backend_admin_user_path(current_admin_user)
          %li= link_to 'Abmelden', session_path, method: :delete, data: { confirm: 'Möchtest du dich abmelden?' }
        - else
          %li= link_to 'Anmelden', new_session_path
          %li= link_to 'Registrieren', new_backend_registration_path

    .col-md-4
      %h4 Besondere Funktionen
      %ul.nav.nav-pills.nav-stacked.backend-nav
        - if can?(:index, ChangeRequest)
          %li
            = link_to backend_change_requests_path do
              Fehler bearbeiten
              %span.badge= ChangeRequest.open.count
        - if can?(:index, ImportRequest)
          %li
            = link_to backend_import_requests_path do
              Import-Anfragen
              %span.badge= ImportRequest.open.count
        - if can?(:create, Import::Scores)
          %li= link_to 'Import', backend_imports_path
          %li= link_to 'Team auseinanderziehen', new_backend_repairs_team_score_move_path
        - if can?(:create, Series::Round)
          %li= link_to 'Serienwettkampf hinzufügen', new_backend_series_round_path
          %li= link_to 'Serienübersicht', backend_series_rounds_path
        %li= link_to 'Cache löschen', new_backend_caching_cleaner_path
        %li= link_to 'Ungenutzte Wettkämpfer löschen', backend_people_cleaner_path
        
    .col-md-4
      %h4 Direkte Bearbeitung
      %ul.nav.nav-pills.nav-stacked.backend-nav
        - @models.each do |model|
          - if can?(:index, model)
            %li= link_to(model.model_name.human(count: 0), [:backend, model])
