.section
  .container
    %h1 Sie sind angemeldet
  .container  
    .col-md-4
      %h4 Allgemeine Funktionen
      %ul.nav.nav-pills.nav-stacked.backend-nav
        %li= link_to 'Wettkampfanmeldungen', registrations_competitions_path
        %li= link_to('Import-Anfragen', backend_import_requests_path)
        - if can?(:index, Pdf2Table::Entry)
          %li= link_to 'PDF-Umwandlungen', pdf2_table_entries_path
        %li= link_to 'Mein Profil', edit_backend_admin_user_path(current_admin_user)
        %li= link_to 'Abmelden', session_path, method: :delete, data: { confirm: 'Möchtest du dich abmelden?' }

    - if can?(:manage, Ipo::Registration)
      .col-md-4
        %h4 Besondere Funktionen
        %ul.nav.nav-pills.nav-stacked.backend-nav
          %li
            = link_to ipo_registrations_path do
              Inselpokal-Anmeldungen
              %span.badge= Ipo::Registration.count