%h1 Administration
.row
  .col-md-4
    %ul.nav.nav-pills.nav-stacked.backend-nav
      - if can?(:index, ChangeRequest)
        %li
          %a{ href: backend_change_requests_path }
            Fehler bearbeiten
            %span.badge= ChangeRequest.open.count
      - if can?(:create, Import::Scores)
        %li= link_to("Import", backend_imports_path)
        %li= link_to("Team auseinanderziehen", teams_backend_repairs_path)
      - if can?(:create, Series::Round)
        %li= link_to("Serienwettkampf hinzufügen", new_backend_series_round_path)
        %li= link_to("Serienübersicht", backend_series_rounds_path)
      
      %li= link_to("Ausloggen", destroy_admin_user_session_path, method: :delete)
  .col-md-4
    %ul
      %li Logs anzeigen
      %li Benutzer anzeigen
      %li Ungenutze Logos löschen
      %li Ergebnis-Dateien löschen
      %li Personen ohne Zuordnung
      %li Cache löschen
  .col-md-4
    %ul.nav.nav-pills.nav-stacked.backend-nav
      - @models.each do |model|
        - if can?(:index, model)
          %li
            %a{ href: url_for([:backend, model]) }
              = model.model_name.human(count: 0)
              %span.badge= model.count
