%a.version-select.list-group-item{ data: { version: version.version_number }, href: "#", class: (active ? "active" : "") }
  %span.badge= version.date
  = version.version_number
.list-group-item{ data: { version: version.version_number }, class: (active ? "" : "hide") }
  %ul
    - version.targets.each do |target|
      %li
        %a{ href: "/uploads/wettkampf_manager/#{version.version_number}/#{target.basename}" }= target.basename
        %span.label.label-info= number_to_human_size(target.size)
  .pull-right
    - if version.database_changed
      .label.label-info{ title: "Integrierte Datenbank wurde #{l(version.database_changed)} aktualisiert" }= l(version.database_changed)
    %a.btn.btn-default.btn-xs{href: "https://github.com/Feuerwehrsport/wettkampf-manager/tree/#{version.commit_id}", title: 'Commit-ID' }
      %span.glyphicon.glyphicon-paperclip{'aria-hidden' => 'true' }
      = version.commit_id.first(7)
  - if version.invalid?
    .alert.alert-danger
      %h4 Version nicht funktionsfähig
      = version.invalid_message
  %h4 Veränderungen
  = version.change_log