= table_of_contents do |toc|
  .section
    .container.page-header
      .col-md-8
        %h1 Datenschutzerklärung
        %p Der Betreiber dieser privaten Website nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften.
        %p Bedenken Sie, dass die Datenübertragung im Internet grundsätzlich mit Sicherheitslücken bedacht sein kann. Ein vollumfänglicher Schutz vor dem Zugriff durch Fremde ist nicht realisierbar. 
        %h4 Verantwortlichkeit
        %p
          Herr Georg Limbach
          %br
          Adebarsweg 3
          %br
          18211 Bargeshagen
      .col-md-4
        = toc.index

  .section
    .container
      .col-md-9
        = toc.anker('Zugriffsdaten', :h3)
        %p Der Websitebetreiber erhebt Daten über Zugriffe auf die Seite und speichert diese als „Server-Logfiles“ ab. Folgende Daten werden so protokolliert:
        %ul
          %li Besuchte Website
          %li Uhrzeit zum Zeitpunkt des Zugriffes
          %li Menge der gesendeten Daten in Byte
          %li Quelle/Verweis, von welchem Sie auf die Seite gelangten
          %li Verwendeter Browser
          %li Verwendetes Betriebssystem
          %li Verwendete IP-Adresse
        %p Die erhobenen Daten dienen lediglich statistischen Auswertungen und zur Verbesserung der Website und werden üblicherweise nach 10 Tagen gelöscht. Der Websitebetreiber behält sich allerdings vor, die Server-Logfiles nachträglich zu überprüfen, sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.

        = toc.anker('Cookies', :h3)
        %p Diese Website verwendet Cookies. Dabei handelt es sich um kleine Textdateien, welche auf Ihrem Endgerät gespeichert werden. Ihr Browser greift auf diese Dateien zu. Durch den Einsatz von Cookies erhöht sich die Benutzerfreundlichkeit und Sicherheit dieser Website.
        %p Gängige Browser bieten die Einstellungsoption, Cookies nicht zuzulassen. Hinweis: Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen zugreifen können, wenn Sie entsprechende Einstellungen vornehmen.

        = toc.anker('Umgang mit API-Nutzer', :h3)
        %p Die Nutzer können direkt Daten verändern. Dafür geben sie neben einer kleinen mathematischen Aufgabe den Namen und eine E-Mail-Adresse an. Die Daten dienen für Rückfragen zu den Änderungen. Sie werden automatisch einen Monat nach dem Anlegen gelöscht.
        = toc.anker('Umgang mit Nutzerkonten', :h3)
        %p Für bestimmte Aktionen im System ist es notwendig sich im Vorfeld zu registrieren. Die Kontaktdaten werden für Rückfragen verwendet und nicht an Dritte weitergegeben. Es besteht zur Zeit keine Möglichkeit die Konton selbstständig zu löschen. Wenden Sie sich bitte dafür an den Administrator.
        = toc.anker('Umgang mit Online-Anmeldungen', :h3)
        %p Online-Anmeldungen für Wettkämpfe dienen einem Veranstalter zur Erfassung der Wettkämpfer. Die eingegebenen Anmeldedaten werden an den Veranstalter des Wettkampfes weitergegeben. Dies ist ja auch der Sinn dieser Funktion. Die Anmeldungen werden 3 Monate nach der Veranstaltung gelöscht.
        = toc.anker('Umgang mit Inselpokal-Anmeldungen', :h3)
        %p Die Anmeldungen zum Inselpokal auf Poel werden vom System erfasst und dem Veranstalter zur Verfügung gestellt. Sobald die Anmeldephase vorüber ist, werden die Daten von diesem System gelöscht.
        = toc.anker('Umgang mit Kontaktdaten', :h3)
        %p Nehmen Sie mit dem Websitebetreiber durch die angebotenen Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.
        = toc.anker('Statistische Daten von Wettkämpfern', :h3)
        %p Die statistichen Berechnungen, Tabellen und Diagramme, die zu jedem geführten Wettkämpfer aufgeführt werden, entstehen durch die Ergebnisse von öffentlich durchgeführten Wettkämpfen. Sollten sich Wettkämpfer mit dieser Auflistung nicht wohl fühlen, besteht die Möglichkeit, den Nachnamen zu <em>schwärzen</em> und somit eine anonyme Erfassung der Daten zu ermöglichen.
        = toc.anker('Rechte des Nutzers: Auskunft, Berichtigung und Löschung', :h3)
        %p Sie als Nutzer erhalten auf Antrag Ihrerseits kostenlose Auskunft darüber, welche personenbezogenen Daten über Sie gespeichert wurden. Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur Aufbewahrung von Daten kollidiert, haben Sie ein Anrecht auf Berichtigung falscher Daten und auf die Sperrung oder Löschung Ihrer personenbezogenen Daten.