= table_of_contents do |toc|
  .row
    .col-md-8= design_image('wettkampf-manager-logo', alt: 'Wettkampf-Manager', class: 'img-responsive')
  .row
    .col-md-8
      %p.lead Der Wettkampf-Manager ist ein Programm zum Auswerten von Feuerwehrsportwettkämpfen. Unabhängig von Excel können Startlisten, Ergebnislisten und Gesamtwertungen erstellt werden. Die Eingabe der Daten ist über mehrere PCs gleichzeitig möglich. Eine Live-Tabelle und alle Ergebnisse können über WLAN bereitgestellt werden.
    .col-md-4= toc.index
  .row
    .col-md-6
      = toc.anker('Überblick', :h2)
      %p Eine Auflistung der integrierten Funktionen:
      %ul
        %li Namensvorschläge bei Eingabe
        %li
          Unterstützte Disziplinen:
          %ul
            %li Löschangriff Nass
            %li Gruppenstafette
            %li 4x100-Meter-Feuerwehrstafette
            %li 100-Meter-Hindernisbahn
            %li Hakenleitersteigen
        %li
          Gesamtwertungen:
          %ul
            %li Plätze zu Punkte (Negativpunkte pro Disziplin)
            %li D-Cup-Wertung
        %li automatische Zweikampfwertung
        %li automatische U20-Wertung
        %li
          Serien-Jahreswertung integriert
          %ul
            %li Brandenburg-Cup
            %li D-Cup
            %li MV-Cup
            %li MV-Hinderniscup
            %li MV-Steigercup
            %li Sachsen-Cup
            %li Sachsen-Steiger-Cup
            %li Thüringen-Cup
        %li Losreihenfolge
        %li Startnummern
        %li Online-Anmeldung können einfach importiert werden
        %li
          Startlistenerstellung:
          %ul
            %li Aus gewünschten Mannschaften
            %li Aus gewünschten Personen auch nach Reihenfolge
            %li Einzelstarter werden berücksichtigt
            %li Nur Beste X aus Vorlauf (Finale)
            %li Bahnwechsel
            %li Anzahl der Bahnen kann angegeben werden
        %li
          Bedienung über Webbrowser:
          %ul
            %li Nutzer mit Passwort können Zeiten bearbeiten
            %li Nutzer ohne Passwort können Lesen
            %li Für mobile Endgeräte optimiert
        %li
          Urkundenerstellung
          %ul
            %li Hintergrundbild und Schriftart wählbar
            %li Platzhalter können frei verschoben werden
            %li PDF-Erstellung für alle Ergebnislisten
    .col-md-6
      = toc.anker('Download', :h2)
      .row
        .col-md-12
          .list-group
            - @wettkampf_manager_versions.each_with_index do |version, index|
              %a.version-select.list-group-item{ data: { version: version.version_number }, href: "#", class: (index == 0 ? "active" : "") }
                %span.badge= version.date
                = version.version_number
              .list-group-item{ data: { version: version.version_number }, class: (index == 0 ? "" : "hide") }
                %ul
                  - version.targets.each do |target|
                    %li
                      %a{ href: "/uploads/wettkampf_manager/#{version.version_number}/#{target.basename}" }= target.basename
                      %span.label.label-info= number_to_human_size(target.size)
                .pull-right
                  - if version.database_changed
                    .label.label-info{ title: "Integrierte Datenbank wurde #{l(version.database_changed, format: :german)} aktualisiert" }= l(version.database_changed, format: :german)
                  %a.btn.btn-default.btn-xs{href: "https://github.com/Feuerwehrsport/wettkampf-manager/tree/#{version.commit_id}", title: 'Commit-ID' }
                    %span.glyphicon.glyphicon-paperclip{'aria-hidden' => 'true' }
                    = version.commit_id.first(7)
                - if version.invalid?
                  .alert.alert-danger
                    %h4 Version nicht funktionsfähig
                    = version.invalid_message
                %h4 Veränderungen
                = version.change_log
    .col-md-6
      = toc.anker('Hinweise zur Installation', :h2)
      %ol
        %li Datei herunterladen und entpacken
        %li
          Verzeichnispfad darf <b>keine</b> Leerzeichen enthalten<br/>
          Beispiel: <code>C:\wettkampf-manager\</code>
        %li
          %code starten.bat
          ausführen
        %li
          Warten bis im Terminal-Fenster
          %code Booting WEBrick
          steht.
        %li
          = link_to('http://localhost/', 'http://localhost/')
          im Webbrowser eingeben und angezeigten Schritten folgen
      %p Weitere Informationen in der beiliegenden Dokumentation.
    .col-md-6
      = toc.anker("Fehler, Probleme, Wünsche", :h2)
      %p Es kann immer mal wieder vorkommen, dass Fehler auftreten. Diese bitte per E-Mail oder als Ticket melden. Vorher könnt ihr einmal nachgucken, ob es für das Problem schon ein Ticket gibt.
      %ul
        %li
          %a{ href: "mailto:georf@georf.de" } E-Mail schreiben
        %li
          %a{ href: "https://github.com/Feuerwehrsport/wettkampf-manager/issues" } Offene Tickets
      %p Es können natürlich auch Wünsche geäußert werden. Gerade wenn ihr einen besonderen Wettkampfmodus habt, der als Startkonfiguration verfügbar sein soll, ist das kein Problem.
    .col-md-6
      = toc.anker("Geplante Funktionen", :h2)
      %ul
        %li Automatisches Veröffentlichen auf der Statistikseite
        %li Automatisches Veröffentlichen auf gesonderter Seite
        %li Viele Verbesserungen bei der Bedienung
    .col-md-6
      = toc.anker("Einführung per Video", :h2)
      = youtube_video("iShzo88TNz8")