.page-head
  %h1
    Wettkampfanmeldung
    %small= resource_instance.competition

.row
  .col-md-8
    - if resource_instance.gender.nil? || @step == 0 || errors_on?(:name, :shortcut, :gender)
      = simple_form_for(resource_instance) do |f|
        = hidden_field_tag(:step, 1)
        = f.input :competition_id, as: :hidden
        = f.input :name
        = f.input :shortcut
        = f.input :gender, collection: Genderable::GENDERS.keys.map { |gender| [ g(gender), gender ]}
        .pull-right
          = link_to("Abbrechen", comp_reg_competition_path(resource_instance.competition_id), class: "btn btn-default")
          = f.submit "Weiter", class: "btn btn-primary" 
    - else
      = simple_form_for(resource_instance) do |f|
        = f.input :competition_id, as: :hidden
        = f.input :name, as: :hidden
        = f.input :shortcut, as: :hidden
        = f.input :gender, as: :hidden
        = hidden_field_tag(:step, 0)

        .row
          .col-md-9
            %table.table
              %tr
                %th Name
                %td= resource_instance.name
              %tr
                %th Abkürzung
                %td= resource_instance.shortcut
              %tr
                %th Geschlecht
                %td= resource_instance.translated_gender
          .col-md-3= f.submit "Zurück zum Namen", class: "btn btn-default"


      = simple_form_for(resource_instance) do |f|
        = hidden_field_tag(:step, 2)
        = f.input :competition_id, as: :hidden
        = f.input :name, as: :hidden
        = f.input :shortcut, as: :hidden
        = f.input :gender, as: :hidden

        - if CompReg::CompetitionAssessment.requestable_for(resource_instance).present?
          %h3 Wertungsgruppen auswählen
          .row
            - CompReg::CompetitionAssessment.requestable_for(resource_instance).each do |assessment|
              .col-md-5.team-assessment-participation
                = f.simple_fields_for :team_assessment_participations, resource_instance.team_assessment_participations.object.find_or_initialize_by(competition_assessment: assessment) do |g|
                  %h4= discipline_name(assessment.discipline)
                  = g.input :_destroy, as: :boolean, label: 'Teilnahme', input_html: { checked: g.object.persisted? }, checked_value: "0", unchecked_value: "1"
                  = g.input :competition_assessment_id, as: :hidden
        - @assessments = CompReg::CompetitionAssessment.requestable_for_person(resource_instance).decorate
        - if @assessments.present?
          %h3 Wettkämpfer
          %table.table#people-table
            %thead
              %tr.nested-fields
                %th
                %th
                - @assessments.each do |assessment|
                  %th= assessment
                %th
            %tbody
              = f.simple_fields_for :people do |person|
                = render 'person_fields', f: person
          = link_to_add_association 'Wettkämpfer hinzufügen', f, :people, data: { association_insertion_node: "#people-table", association_insertion_method: "append" }
        .pull-right
          = link_to("Abbrechen", comp_reg_competition_path(resource_instance.competition_id), class: "btn btn-default")
          = f.submit class: "btn btn-primary" 
