%tr.nested-fields
  %td= f.input :first_name
  %td
    = f.input :last_name
    = f.input :competition_id, as: :hidden
    = f.input :gender, as: :hidden
  - @assessments.each do |assessment|
    %td{ title: discipline_name(assessment.discipline) }
      = f.simple_fields_for :person_assessment_participations, (f.object.person_assessment_participations.find { |p| p.competition_assessment == assessment } || f.object.person_assessment_participations.new(competition_assessment: assessment)) do |g|
        = g.input :single_competitor_order, label: false, input_html: { class: "person-assessment" }
        = g.input :_destroy, as: :boolean, label: false, input_html: { checked: g.object.persisted? }, checked_value: "0", unchecked_value: "1"
        = g.input :competition_assessment_id, as: :hidden
  %td= link_to_remove_association "entfernen", f, class: "btn btn-default btn-xs"