.section
  .container
    %h1
      Anmeldung zum Inselpokal

  .container
    .alert.alert-warning Deine Anmeldung zum Inselpokal ist zur Zeit nicht möglich.

    %table.table
      %tr
        %th Datum des Inselpokals
        %td= l Rails.configuration.ipo.date
      %tr
        %th Anmeldung öffnet
        %td= l Rails.configuration.ipo.registration_open
      %tr
        %th Anmeldung schließt
        %td= l Rails.configuration.ipo.registration_close
      %tr
        %th Serverzeit
        %td= l Time.current

    .alert.alert-info
      %p Für eine schnelle Eingabe werden folgende Daten benötigt:
      %ul
        %li Nachname, Vorname
        %li Ort
        %li E-Mail-Adresse
        %li Telefonnummer
        %li Name der Mannschaft

    %ul
      %li= link_to('Mannschaft anmelden', new_ipo_registration_path)
      %li= link_to('Ergebnisse vom Inselpokal auf Feuerwehrsport-Statistik.de', place_path(269))
      %li= link_to('Zurück zur Inselpokal-Webseite', 'http://www.inselpokal-poel.de')