= simple_form_for([:backend, @resource_instance]) do |f|
  = f.input :name
  = f.input :dated_at
  = f.input :description
  = f.association :place
  = f.association :event
  = f.input :disciplines
  = f.button :submit