.row
  .col-md-6
    .panel.panel-default
      .panel-body
        = m3_form do |f|
          = f.input :first_name
          = f.input :last_name
          = f.input :gender, collection: Genderable::GENDERS.keys.map { |gender| [ g(gender), gender ]}
          - if resource.team.blank?
            = f.input :team_name
          = f.input :team_id, as: :hidden
          = f.input :person_id, as: :hidden
          = f.input :competition_id, as: :hidden
          - if resource.competition.person_tag_list.present?
            %fieldset
              %legend Zusätzliche Angaben
              - resource.competition.person_tag_list.each do |tag|
                = f.simple_fields_for :tags, (f.object.tags.find { |t| t.name == tag } || f.object.tags.new(name: tag)) do |g|
                  = g.input :name, as: :hidden
                  = g.input :_destroy, as: :boolean, label: tag, input_html: { checked: g.object.persisted? }, checked_value: '0', unchecked_value: '1'
                  = g.input :id, as: :hidden
          .pull-right
            = f.submit class: 'btn btn-primary'
  = render 'hints'