.row
  .col-md-6
    .panel.panel-default
      .panel-body
        = m3_form do |f|
          = f.input :first_name
          = f.input :last_name
          - if resource.team.blank?
            = f.input :team_name
          - if resource.band.person_tag_list.present?
            %fieldset
              %legend Zusätzliche Angaben
              = f.input :tag_names, as: :check_boxes, collection: parent_resource.person_tag_list
          %fieldset
            %legend Wertungen
            = render 'registrations/person_participation_form', f: f
          .pull-right
            = f.submit class: 'btn btn-primary'
  = render 'hints'
