= simple_form_for(form_resource, url: { action: :create }) do |f|
  .form-group.string
    %label.string.control-label{ for: 'team_suggestion' } Schnelleingabe / Suche
    %input.string.form-control{ name: 'team_suggestion', id: 'team_suggestion', type: 'text', autocomplete: 'off' }
  .suggestions-entries
    %table.table.table-hover.table-condensed
  .row
    .col-md-4
      = f.input :name, hint: '<em>Freiwillige Feuerwehr</em> bitte immer mit <em>FF</em> abkürzen'.html_safe
    .col-md-4
      = f.input :shortcut, hint: 'Falls in Wertungslisten nicht genügend Platz ist. Weniger als 10 Zeichen.'
    .col-md-4
      = f.input :team_number, label: 'Nummer', hint: 'Sollten mehr als eine Mannschaft mit gleichem Namen starten, dann bitte hochzählen.'
  = f.input :team_id, as: :hidden
  .pull-right
    = f.submit class: 'btn btn-primary'
