.section
  .container
    %h3 Beschreibung
  .container
    .col-md-8
      = render 'panel_description'
      = render 'panel_url'
    .col-md-4
      = render 'panel_times'
      = render 'panel_bands'
      = render 'panel_tags'
      - if can?(:edit, resource)
        = render 'panel_actions'
    .col-md-12

- resource.bands.each do |band|
  .section
    .container
      %hr
      %h3= band.name
      .btn-group
        = link_to 'Mannschaft anmelden', new_registrations_band_team_creation_path(band), class: 'btn btn-default btn-sm'
        = link_to 'Einzelstarter anmelden', new_registrations_band_person_creation_path(band), class: 'btn btn-default btn-sm'
  .section
    .container
      = render 'teams', band:, teams: band.teams
      = render 'people', band:, people: band.object.people.without_team.accessible_by(current_ability).decorate

- if can?(:edit, resource)
  .section
    .container
      %hr
    .container
      - if can?(:update, resource) && !resource.published?
        .col-md-4
          = render 'panel_not_published'
      - if can?(:export, resource)
        .col-md-4
          = render 'panel_export'
