.section
  .container
    %h3 Beschreibung
  .container
    .col-md-8
      .panel.panel-default
        .panel-body.competition-description= resource.description.html_safe
        - if can?(:edit, resource)
          .panel-footer= link_to('Bearbeiten', edit_registrations_competition_path(resource), class: 'btn btn-default btn-xs')
      .panel.panel-default
        .panel-heading URL zu dieser Seite
        .panel-body
          %p.small= link_to(resource.slug_url, resource.slug_url)
          %img{ src: RQRCode::QRCode.new(resource.slug_url, level: :h).to_img.resize(200, 200).to_data_url }
    .col-md-4
      .panel.panel-default
        .panel-heading
          Zeiten für die Anmeldung
        .panel-body
          %table.table.table-condensed
            %tr
              %th Anmeldung öffnet am
              %td= resource.open_at_date.presence || resource.created_at_date
            %tr
              %th Anmeldung schließt am
              %td= resource.close_at.presence || resource.date
        - if can?(:edit, resource)
          .panel-footer= link_to('Bearbeiten', edit_registrations_competition_registration_times_path(resource), class: 'btn btn-default btn-xs', remote: true)
      .panel.panel-default
        .panel-heading
          Wertungen
        .panel-body
          %table.table.table-condensed
            - resource.assessments.each do |assessment|
              %tr
                %td= discipline_image(assessment.discipline)
                %td= assessment.with_gender
        - if can?(:edit, resource)
          .panel-footer= link_to('Bearbeiten', registrations_competition_assessments_path(resource), class: 'btn btn-default btn-xs')
      .panel.panel-default
        .panel-heading
          Aktionen
        .panel-body
          = image_link_to('team-add', 'Mannschaft anmelden', new_registrations_competition_team_path(resource), image: { width: '22px' }, class: 'btn btn-default btn-block')
          - if form_resource.assessments.for_people.present?
            = image_link_to('person-add', 'Einzelstarter anmelden', new_registrations_competition_person_creation_path(resource), image: { width: '22px' }, class: 'btn btn-default btn-block', remote: true)
          - if can?(:update, resource)
            = image_link_to('configure', 'Wettkampf bearbeiten', { action: :edit }, image: { width: '22px' }, class: 'btn btn-default btn-block')
            = image_link_to('configure', 'Öffentlichkeitseinstellungen', edit_registrations_competition_publishings_path(resource), image: { width: '18px' }, class: 'btn btn-default btn-block', remote: true)
            = link_to('E-Mail versenden', new_registrations_competition_mail_path(competition_id: params[:id]), class: 'btn btn-default btn-block')

    - %i[female male].each do |gender|
      - if @teams[gender].present?
        %h3
          Mannschaften #{g(gender)}
          %small= g_symbol(gender)
        = count_table(@teams[gender]) do |ct|
          - ct.col('Name', class: 'col-md-4') { |row| can?(:update, row) ? link_to(row.with_number, registrations_competition_team_path(resource, row)) : row.with_number }
          - if resource.team_tag_list.present?
            - ct.col('Attribute') { |row| row.tag_names.join(', ') }
          - form_resource.assessments.gender(gender).each do |assessment|
            - ct.col(discipline_image_name_short(assessment.discipline, assessment.gender)) do |row|
              - if Discipline.group?(assessment.discipline)
                - row.assessments.include?(assessment) ? 'x' : ''
              - else
                - count_or_zero(row.people.with_assessment(assessment).uniq.count)

      - if @people_count[gender] > 0
        %h3
          Einzelstarter #{g(gender)}
          %small #{g_symbol(gender)} Anzahl: #{@people_count[gender]}
        - if @people[gender].present?
          = count_table(@people[gender]) do |ct|
            - ct.col('Vorname', :first_name, class: 'col-15 small')
            - ct.col('Nachname', :last_name, class: 'col-15 small')
            - ct.col('Team', :team_name, class: 'col-10 small')
            - if resource.person_tag_list.present?
              - ct.col('Attribute') { |person| person.tag_names.join(', ') }
            / - ct.col("") { |row| can?(:edit, row) ? link_to("Bearbeiten", action: :edit, controller: :people, id: row.id) : "" }
            - resource.object.assessments.gender(gender).decorate.each do |assessment|
              - unless Discipline.group?(assessment.discipline)
                - ct.col(assessment) { |row| edit_participation(row, assessment, resource) }
            - unless can?(:update, resource)
              - ct.footer(class: 'text-center small active') { 'Es werden eventuell nicht alle Wettkämpfer angezeigt, da du nicht genügend Rechte dafür besitzt.' }

.section
  .container
    %hr
  .container
    - if can?(:update, resource) && !resource.published?
      .col-md-4
        .panel.panel-danger
          .panel-heading
            %h4.text-center Wettkampf ist noch nicht öffentlich
          .panel-body
            = image_link_to('configure', 'Veröffentlichen', edit_registrations_competition_publishings_path(resource),
              image: { width: '18px' }, class: 'btn btn-default btn-block', remote: true)

    - if can?(:export, resource)
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3.panel-title Export
          .panel-body
            = link_to('Wettkampf-Manager-Konfiguration', { format: :wettkampf_manager_import },
              class: 'btn btn-default btn-block btn-sm')
            = link_to('Excel-Format', { format: :xlsx }, class: 'btn btn-default btn-block btn-sm')
            = link_to('PDF-Format', { format: :pdf }, class: 'btn btn-default btn-block btn-sm')
