.section
  .container
    = render 'action_line'
    %h3 Beschreibung
  .container
    .col-md-8
      = render 'panel_description'
      = render 'panel_url'
    .col-md-4
      = render 'panel_times'
      = render 'panel_assessments'
      = render 'panel_tags'
      - if can?(:edit, resource)
        = render 'panel_actions'
    .col-md-12
      - Genderable::GENDER_KEYS.each do |gender|
        - if @teams[gender].present?
          = render 'teams', gender: gender, teams: @teams[gender]
        - if @people_count[gender].positive?
          = render 'people', gender: gender, people: @people[gender], people_count: @people_count[gender]

    = render 'action_line'
- if can?(:edit, resource)
  .section
    .container
      %hr
    .container
      - if can?(:update, resource) && !resource.published?
        .col-md-4
          = render 'panel_not_published'
      - if can?(:export, resource)
        .col-md-4
          = render 'panel_export'
