.panel.panel-default
  .panel-heading
    Aktionen
  .panel-body
    = image_link_to('team-add', 'Mannschaft anmelden', new_registrations_competition_team_creation_path(resource),
      image: { width: '22px' }, class: 'btn btn-default btn-block')
    - if form_resource.assessments.for_people.present?
      = image_link_to('person-add', 'Einzelstarter anmelden',
        new_registrations_competition_person_creation_path(resource), image: { width: '22px' },
        class: 'btn btn-default btn-block', remote: true)
    - if can?(:update, resource)
      = image_link_to('configure', 'Wettkampf bearbeiten', { action: :edit }, image: { width: '22px' },
        class: 'btn btn-default btn-block')
      = image_link_to('configure', 'Öffentlichkeitseinstellungen',
        edit_registrations_competition_publishings_path(resource), image: { width: '18px' },
        class: 'btn btn-default btn-block', remote: true)
      = link_to('E-Mail versenden', new_registrations_competition_mail_path(competition_id: params[:id]),
        class: 'btn btn-default btn-block')
