= render 'hero', actions: collection_actions

.section
  .container

    %table.table
      %tr
        %th Datum
        %th Ort
        %th Name
        %th Disziplinen
      - collection.each do |competition|
        %tr{ class: competition.object.date < Date.current ? 'past' : nil }
          %td= competition.date
          %td= competition.place
          %td
            - if can?(:show, competition)
              = link_to(competition.name, url_for(competition))
            - else
              = competition.name
          %td= competition.discipline_images
    = render 'index_pagination'
