.section
  .container
    %h1 Wettkampftermine

  
    = nav_tab do |nt|
      - nt.tab('Wettkampftermine') do
        .row
          .col-md-9
            = count_table(collection, class: 'datatable-appointments') do |t|
              - t.col('Datum', class: 'col-10') { |row| row.dated_at }
              - t.col('Veranstaltung', class: 'col-20 info-link') { |row| link_to(row.name, row) }
              - t.col('Ort', class: 'col-20 small') { |row| place_link(row.place) }
              - t.col('Typ', class: 'col-20 small') { |row| event_link(row.event) }
              - t.col('Disziplinen', :discipline_images, class: 'col-20')
          .col-md-3
            %p
              = image_link_to("calendar", "iCalendar-Datei aller Termine", url_for(format: :ics), image: { width: '18px' }, class: 'btn btn-default btn-sm btn-block')
              #add-appointment.btn.btn-default.btn-sm.btn-block
                = design_image('appointment-new', width: '18px')
                Neuen Termin hinzuf체gen
      / - nt.tab('Online-Anmeldungen') do
      /   .row
      /     .col-md-8
      /       = count_table(@comp_reg_competitions) do |t|
      /         - t.col('Datum', class: 'col-10') { |row| l(row.date) }
      /         - t.col('Veranstaltung', class: 'col-20 info-link') { |row| link_to(row.name, row) }
      /         - t.col('Ort', :place, class: 'col-20 small')
      /         - t.col('Disziplinen', :discipline_images, class: 'col-10')
      /     .col-md-4
      /       %p= image_link_to('appointment-new', 'Online-Anmeldung hinzuf체gen', new_select_template_comp_reg_competitions_path, image: { width: '18px' }, class: 'btn btn-default btn-sm btn-block')
      /       %p Diese Seite bietet es an, Online-Anmeldung von Wettk채mpfen zu schalten. Weitere Informationen zum Vorgehen ist auf #{link_to('einer separaten Seite', online_anmeldungen_path)} erkl채rt.