.section
  .container
    %h1
      = resource
      %small
        Wettkampftermin -
        = resource.dated_at

  .container
    .col-md-7= simple_format(resource.description)
    .col-md-5
      %table.table
        %tr
          %td{ colspan: 2 }
            %a{ href: url_for(format: :ics) }
              = design_image("calendar", width: "20px")
              iCalendar-Datei zu diesem Termin
        %tr
          %th Datum
          %td= resource.dated_at
        %tr
          %th Disziplinen
          %td= resource.discipline_images
        - if resource.place.present?
          %tr
            %th Ort
            %td= resource.place
        - if resource.event.present?
          %tr
            %th Typ
            %td= event_link(resource.event)
        %tr
          %th Links
          %td= render('links', links: resource.links, linkable_type: resource_class, linkable_id: resource.id)
        %tr
          %th{ colspan: 2 }
            .pull-right
              #edit-appointment.btn.btn-default{ data: { appointment_id: resource.id } } Termin bearbeiten
