- if @person_assessments.present?
  .container
    = toc.anker('Einzelwertungen', :h3)
    = count_table(@person_assessments) do |ct|
      - ct.col('Disziplin') { |row| link_to("#{discipline_image(row.discipline)} #{discipline_name(row.discipline)}".html_safe, row) }
      - ct.col('Name', :name)
      - ct.col('Wettkämpfer') { |row| row.object.person_participations.distinct.count(:person_id) }

- round.team_assessments_configs.each do |config|
  .container
    - if config.rows.present?
      = toc.anker("Mannschaft #{config.name}")
      %h3 Mannschaftswertung #{config.name}

      = count_table(config.rows.map(&:decorate)) do |ct|
        - ct.col("Platz", :rank, class: 'col-5')
        - ct.col("Team", class: 'col-15') { |row| numbered_team_link(row, competition_id: round.cups.map(&:competition_id), gender: row.team_gender) }
        - round.cups.each do |cup|
          - ct.col(cup.competition.place, class: 'col-10', th_options: { link_to: cup.competition }) { |row| render("series/rounds/participations_table", participations: row.participations_for_cup(cup)) }
        - config.show_columns_config.each do |col|
          - ct.col(col[:name], col[:method], class: 'col-5')
    %button.btn.btn-xs{ type: "button", data: { toggle: "collapse", target: "#calculation-hint-#{config.key}" } } Erläuterungen zur Berechnung
  
  .container.collapse{ id: "calculation-hint-#{config.key}", style: "margin-top: 20px" }
    .col-md-3
      .panel.panel-default
        .panel-heading
          Allgemein
        %table.table
          %tr
            %th Teilnahmen in der Wertung:
            %td= config.calc_participations_count
          %tr
            %th Mindestteilnahmen für Platzierung:
            %td= config.min_participations_count

    .col-md-3
      .panel.panel-default
        .panel-heading
          Berechnung der Plätze
        .panel-body
          %p Für die Berechnung der Plätze werden folgende Daten nacheinander verglichen:
          %ul
            - config.ranking_logic_config.each do |c|
              %li= c[:name]

    - if config.honor_ranking_logic_config.present?
      .col-md-3
        .panel.panel-default
          .panel-heading
            Berechnung der besten drei Plätze
          .panel-body
            %p Zusätzlich werden die besten drei Plätze wie folgt verglichen:
            %ul
              - config.honor_ranking_logic_config.each do |c|
                %li= c[:name]

    - if config.points_for_rank.present?
      .col-md-3
        .panel.panel-default
          .panel-heading
            Punktevergabe
          %table.table
            - config.points_for_rank.each_with_index do |points, index|
              %tr
                %td= "#{index + 1}. Platz"
                %td= t('series.points', count: points)