= table_of_contents do |toc|
  .section
    .container.page-header
      .col-md-5
        %h1= resource
      .col-md-4= render("series/cups_overview", cups: resource.cups)
      .col-md-3= toc.index
  
    = render('show', toc: toc, cache: true, round: resource)
    .container= render('series/round_footer', official: resource.official?, pdf: @team_assessments_exists)