#wrap
  .navbar.navbar-default.navbar-static-top{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => "/page/home.html"} Startseite
          %li
            %a{:href => "/page/dates.html"} Termine
          %li
            %a{:href => "/page/feuerwehrsport.html"} Feuerwehrsport
          %li= link_to("Serien", series_rounds_path)
          %li= link_to("Wettkämpfe", competitions_path)
          %li= link_to("Mannschaften", teams_path)
          %li= link_to("Personen", people_path)
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Weitere Statistiken
              %b.caret
            %ul.dropdown-menu
              %li= link_to("Orte", places_path)
              %li= link_to("Typen", events_path)
              %li= link_to("Jahre", years_path)
              %li.divider
              %li.dropdown-header Interessantes
              %li
                %a{:href => "/page/news.html"} Neuigkeiten
              %li
                %a{:href => "/page/records.html"} Rekorde
              %li
                %a{:href => "/page/best-of.html"} 100 Bestzeiten
              %li
                %a{:href => "/page/year-2015.html"} Statistiken 2015
              %li
                %a{:href => "/page/year-2014.html"} Statistiken 2014
              %li
                %a{:href => "/page/year-2013.html"} Statistiken 2013
              %li
                %a{:href => "/page/logs.html"} Letzte Änderungen