= render 'instance_head'

%table.table
  - resource_class.column_names.each do |column|
    %tr
      %th= resource_class.human_attribute_name(column)
      %td= @resource_instance.send(column)
      %td
        - if column.ends_with?("_id")
          = @resource_instance_decorated.send(column.gsub(/_id$/, ""))
        - elsif column.ends_with?("_at") && @resource_instance.send(column).present?
          = l(@resource_instance.send(column))

= nav_tab do |nv|
  - @associations.each do |association|
    - nv.tab(association.new.class.model_name.human) do
      = crud_table(association.decorate, controller: association.new.class.to_s.tableize) do |ct|
        - index_columns(association).each do |column|
          - ct.col(association.new.class.human_attribute_name(column), column)