= @preview_string.html_safe

%h4
.row
  .col-md-4
    %table.table
      %tr
        %th Wettkampf
        %td= competition_link(@resouce_instance.competition.decorate)
      %tr
        %th Wettkampfserie
        %td= link_to(@resouce_instance.round.decorate, @resouce_instance.round)

= simple_form_for(@resouce_instance, url: backend_series_rounds_path, as: :import_series_base) do |f|
  = f.input :competition_id, as: :hidden
  = f.input :series_round_id, as: :hidden
  = f.input :series_type, as: :hidden
  = f.input :second_run, as: :hidden, value: "1"
  = nav_tab do |t|
    - @resouce_instance.assessment_configs.each do |assessment_config|
      - t.tab(assessment_config.id) do
        - assessment_config.entities.each do |entity|
          .div
            %label
              = check_box "import_series_base[selected_entities][#{assessment_config.id}]", entity.first, checked: entity.last
              = entity.second
  - if @resouce_instance.second_run
    .alert.alert-danger
      = f.input :perform_now, as: :boolean
  = f.button :submit
