= simple_form_for(resource_instance, url: url_for(action: :update, publishing: 1)) do |f|
  .row
    .col-md-8
      %h3 Allgemeine Information
      = f.input :slug, hint: "Der Kurzname darf nur aus Zahlen, Buchstaben, Binde-, Unterstrich und Pluszeichen bestehen"
      %p 
        Der Name für die kurze URL sollte nach der Veröffentlichung nicht mehr geändert werden, da dieser automatisch verteilt wird.
        Der eingegebene Name wird in der vollständigen URL so aussehen:
      %code#slug-url https://www.feuerwehrsport-statistik.de/wa/[SLUG]
      = f.input :published, hint: "Hierdurch wird der Wettkampf auf der Seite für andere sichtbar"
      
      .pull-right
        = link_to("Abbrechen", { action: :index }, class: "btn btn-default")
        = f.submit class: "btn btn-primary"