= table_of_contents do |toc|
  .page-header.row
    .col-md-9
      %h1 Wettkampforte
    .col-md-3= toc.index

  = toc.anker("Wettkämpfe")
  = count_table(@competitions, class: "datatable-place-competitons") do |t|
    - t.col("Datum", class: "col-10") { |row| link_to(l(row.date), row) }
    - t.col("Typ", class: "col-10") { |row| link_to(row.event, row.event) }
    - t.col("Name", class: "col-20") { |row| link_to(row.name, row) }
    - t.col("HBw", class: "col-5") { |row| count_or_zero(row.hb_female) }
    - t.col("HBm", class: "col-5") { |row| count_or_zero(row.hb_male) }
    - t.col("HLw", class: "col-5") { |row| count_or_zero(row.hl_female) }
    - t.col("HLm", class: "col-5") { |row| count_or_zero(row.hl_male) }
    - t.col("GS", class: "col-5") { |row| count_or_zero(row.gs) }
    - t.col("FSw", class: "col-5") { |row| count_or_zero(row.fs_female) }
    - t.col("FSm", class: "col-5") { |row| count_or_zero(row.fs_male) }
    - t.col("LAw", class: "col-5") { |row| count_or_zero(row.la_female) }
    - t.col("LAm", class: "col-5") { |row| count_or_zero(row.la_male) }

  = toc.anker("Auswertung", :h2)
  .calculation-area
    .row
      .col-md-4
        %h4 Verteilung der Wettkämpfe über das Jahr
        = @chart.year_overview
      .col-md-4
        %h4 Verteilung der Wettkämpfe über die Woche
        = @chart.week_overview
      .col-md-4
        %h4 Angebotene Disziplinen pro Wettkampf
        = @chart.disciplines_overview
      .col-md-4
        %h4 Mannschaftswertungen der Einzeldisziplinen
        = @chart.team_scores_overview
      .col-md-4
        %h4 Anzahl der Mannschaften pro Wettkampf
        = @chart.teams_count_overview
      .col-md-4
        %h4 Anzahl der Einzelstarter pro Wettkampf
        = @chart.people_count_overview
    = render 'calculation/competitions_discipline_overview'