%head
  %title= page_title
  %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}/
  = favicon_link_tag
  - if backend?
    = javascript_include_tag 'backend', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'backend', 'data-turbolinks-track' => true
  - elsif registrations?
    = javascript_include_tag 'registrations', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'registrations', 'data-turbolinks-track' => true
  - else
    = javascript_include_tag 'frontend', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'frontend', 'data-turbolinks-track' => true

  = auto_discovery_link_tag(:rss, news_articles_path(format: :atom))
  = auto_discovery_link_tag(:rss, change_logs_path(format: :atom))
  = csrf_meta_tags