%head
  %title= page_title
  %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}/
  = favicon_link_tag
  - if backend?
    = javascript_include_tag 'backend'
    = stylesheet_link_tag 'backend'
  - else
    = javascript_include_tag 'frontend'
    = stylesheet_link_tag    'frontend'
  - if map_support?
    = javascript_include_tag '/leaflet/leaflet', skip_pipeline: true
    = stylesheet_link_tag    '/leaflet/leaflet', skip_pipeline: true

  = auto_discovery_link_tag(:rss, change_logs_path(format: :atom))
  = csrf_meta_tags
